// Base
$press-primary: #222d3f;
$background: #f2f3f6;
$press-success: #108ab5;
$press-white: white;


// Panels
$press-heading-text: #333435;
$press-border-color: #e2e3e3;
$press-border-radius: 6px;
$press-box-shadow: 0 2px 6px 0px rgba(0,0,0,.2);
$press-panel-heading-weight: bold;
$press-panel-image-size: 60px;
$press-panel-body-padding: 20px;
$press-panel-heading-padding: 20px;
$press-panel-footer-bg: $press-white;
$press-panel-title-size: 20px;

// Navbar
$press-navbar-text: #abacac; 

// Navs
$press-nav-pill-color: #abacac;

// Inactive
$press-inactive-background: #f4f5f9;
$inactive-text: #88898b;

// Text
$press-text-muted: #999a9a;
$press-text-success: #53b826;

// Buttons
$press-btn-font-weight: 600;
$press-btn-font-size: 15px;
$press-btn-icon-size: $press-btn-font-size;
$btn-default-color: #88898b;